<app-category></app-category>
<div class="form-group">
  <input class="form-control" id="productName" placeholder="Ürün Ara" [(ngModel)]= "filterText" />
  <small *ngIf ="filterText" >
    Şu anda <strong>{{filterText}}</strong> aradınız
  </small>
</div>

<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
        Burada Ürün yok!
    </div>
</ng-template>
  <div *ngFor="let urun of products | productFilter : filterText" class="card" style="width: 18rem;">
    <img [src]="urun.imageUrl" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{urun.name | uppercase }} {{urun.price | currency : 'USD' }}</h5>
      <p class="card-text">{{urun.description}}</p>
      <a (click)= addToChart(urun) class="btn btn-primary"> Ürünü Ekle </a> 
    </div>
  </div>
</div>